#projektehead547126874 {}

html {
    font-size: 16px;
}

.specialh1tothis {
    font-size: clamp(1.5rem, 0.4rem + 2.5vw, 2rem);
}

.aprojektdescription {
    background-color: rgb(248, 249, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
}

#projektehead547126874 h1 {
    font-size: clamp(1.5rem, 0.4rem + 2.5vw, 3rem);
}

#projektehead547126874 p {}