#projectseparator238525 {}

html {
    font-size: 16px;
}

#projectseparator238525 p {
    font-size: clamp(0.3rem, 0.2rem + 2vw, 1rem);
}

.zeropaddingandmargin34253423 {
    margin: 0;
    padding: 0;
}

.borderforcallindiviual {
    border: 0.1rem;
    border-right: 0;
    border-color: black;
    border-style: solid;
    background-color: rgb(248, 249, 250);
}

.borderforcallindiviualtwo {
    border: 0.1rem;
    border-left: 0;
    border-color: black;
    border-style: solid;
    background-color: rgb(248, 249, 250);
}

.borderforcallindiviualthree {
    border: 0.1rem;
    border-top: 0;
    border-color: black;
    border-style: solid;
}

.wrapperofallwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.wrapperofall {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50rem;
    margin: 0.3rem;
    min-width: 22rem;
}

.headsection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 0.1rem;
    border-color: black;
    border-bottom: 0;
    border-style: solid;
    background-color: rgba(128, 128, 128, 0.3);
}

.headsectionbcv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    background-color: rgba(128, 128, 128, 0.3);
}

.wrapperforprojectnumber {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    width: 30%;
    font-size: 2rem;
    font-weight: bold;
}

.wrapperforprojectdescription {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    width: 70%;
}

.wrapperforcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0.3rem;
    border-color: black;
    border-style: solid;
    width: 100%;
    min-height: 20rem;
}

#containerfromseperator789548791 p {
    font-size: clamp(0.1rem, 0.2rem + 2vw, 1rem);
}


/*
.h1 {
    font-size: clamp(1.5rem, 0.4rem + 2.5vw, 2rem);
}

.aaprojektdescription {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
}

.aaprojektdescription h1 {
    font-size: 1.5rem;
}

.aaprojektdescription p {
    font-size: 0.8rem;
}
*/