#skillsrefacot457684 {}

.adjust789465 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#skillsrefacot457684 img {
    padding: 0;
    margin: 0;
}

.adjustrow {
    min-height: 100px
}