* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 16px;
}

.containercontainercontainercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.containercontainercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
    min-width: 50rem;
    min-height: 20rem;
    padding: 1rem;
}

.containerfortheinputsection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    min-height: 10rem;
}

.formfortheinputsection {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 14rem 6rem;
    grid-template-rows: 2rem 2rem;
    grid-template-areas: "topleft topright" "bottomleft bottomright";
    min-width: 20rem;
    min-height: 10rem;
}

.containerforinputtext {
    grid-area: topleft;
}

.inputfieldtext {
    border: 0.1rem;
    border-style: solid;
    border-radius: 0.5rem;
    background-color: aqua;
}

.containerfordate {
    grid-area: bottomleft;
}

.inputfielddate {
    border: 0.1rem;
    border-style: solid;
    border-radius: 0.5rem;
}

.containerfornumber {
    grid-area: bottomright;
}

.inputfieldnumber {
    border: 0.1rem;
    border-style: solid;
    border-radius: 0.5rem;
}

.containerforsubmit {
    grid-area: topright;
}

.buttonforsubmit {
    border: 0.1rem;
    border-style: solid;
    border-radius: 0.5rem;
}