#navbartwouniqueid85412 font-family {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 16px;
}

#navbartwouniqueid85412 {}

#navbartwouniqueid85412 ul {
    padding-left: 0.3rem;
}

.navigationwrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.5);
    margin-bottom: 1rem;
}

.wrapperforlinks {
    display: flex;
    margin-top: 1rem;
}

.myname {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: clamp(0.5rem, 0.4rem + 2.5vw, 1.5rem);
    font-weight: 700;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    padding-right: 0.3rem;
    flex-direction: row;
    margin: 0rem;
}

.navigationstylemobile {
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
    flex-direction: row;
    font-size: 1.5rem;
}

#navbartwouniqueid85412 .navelemente {
    font-size: clamp(0.5rem, 0.4rem + 2.5vw, 1rem);
    font-weight: 700;
    border: 0.1rem;
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

.image {
    display: none;
    background-color: rgba(128, 128, 128, 0.5);
}

@media (max-width: 768px) {
    .image {
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
    .navigation {
        display: none;
    }
    .navigationwrapper {
        display: flex;
        justify-content: flex-end;
        background-color: rgba(128, 128, 128, 0.5);
        margin-bottom: 1rem;
    }
    .myname {
        display: none;
    }
}